@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: black;
}

body .main{
    background-image: url("Assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: max(1200px 110vw);
    position: relative;
    height: 80vh;
}

.main .box{
    opacity: 0.5;
    height: 80vh;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
}

nav{
    justify-content: space-between;      /*to bring */
    max-width: 60vw;   /*to bring closer two corner text*/
    margin: auto;
    display: flex;
    align-items: center;
}

nav img{
    z-index: 10;
    position: relative;
    color: red;
}

nav button{
    position: relative;
}

.box1{
    align-items: center;
    display: flex;
    justify-content: center;
    color:white;
    flex-direction: column;
    position: relative;  /*to pop-out of black*/
    height: calc(100% - 154px);     /* minus height of navbar */
    font-family: 'Martel sans', sans-serif;
    gap: 15px;
    /* padding: 30px; */
    padding-bottom: 30px;
    padding-top: 0px;
}

.box1> :nth-child(1){        /* > : For immediate nth child so that it didnt affect another text in same class*/
    font-weight: 900;
    font-size: 48px;
    text-align: center; 
    font-family: 'Poppins', sans-serif;
}

.box1> :nth-child(2){
    font-size: 20px;
    font-weight: 50;
    text-align: center; 
}

.box1> :nth-child(3){
    font-size: 20px;
    text-align: center; 
    font-weight: 50;
}

.line{
    background-color:rgb(54, 51, 51);
    height: 7px;
}

.box1-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.btn{
    padding: 6px 9px;
    color: white;
    background-color: rgba(66, 65, 65, 0.76);
    font-weight: 300;
    font-size: 15px;
    border: 1px solid rgba(255, 255, 255, 0.429);
    border-radius: 4px;
}

.btn-red{
    padding: 6px 9px;
    background-color: rgb(229, 26, 26);
    font-weight:500;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.btn-red-1{
    padding: 15px 30px;
    background-color: rgb(231, 25, 25);
    font-weight: 600;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.main input{
    padding: 18px 30px;
    background-color: rgb(67, 61, 61, 0.45);
    font-size: 15px;
    font-weight: 400;
    color:white;
    width: 310px;
    border: 1px solid rgba(255, 255, 255, 0.393);
    border-width: 0.1px;
    
}

.first{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 70vw;
    color: white;
}

.secimg{
    position: relative;
}

.secimg img{
    width: 35vw;
    z-index: 10;
    position: relative;     /*Position and z-index are used to diplay video properly */
}

.secimg video{
    position: absolute;
    top: 55px;
    width: 35vw;
    right: 0; 
}

.secimg1{
    position: relative;
}

.secimg1 img{
    /* width: 35vw; */
    width: 555px;
    z-index: 10;
    position: relative;     /*Position and z-index are used to diplay video properly */
}

.secimg1 video{
    position: absolute;
    top: 21px;
    right: 7vw; 
    height: 17vw;
    /* width: 21vw; */
    width: 355px;
}

.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.first > div :nth-child(1){
    font:bolder;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
}

.first > div :nth-child(2){
    font: 10;
    font-size: 19px;
    font-family: 'Martel sans', sans-serif;
}

.faq{
    background-color: black;
    color: white;
    padding: 34px;
}

.faq h2{
    text-align: center;
    font-size: 48px;
    font-weight:bolder;
    font-family: 'Archivo Black', sans-serif;
}

.faqbox{
    display: flex;
    background-color: rgb(61, 59, 59);
    padding: 24px;
    margin:  34px auto;
    max-width: 70vw;
    justify-content: space-between;
    cursor: pointer;
    font-family: 'Martel sans', sans-serif;
    font-size: 23px;
}

.faqbox svg{
    color: white;
}

.faqbox:hover{
    background-color: rgba(128, 128, 128, 0.653);
}

/* .down{
    display: flex;
} */

.ready{
    color:white;
    font-family: 'Martel sans', sans-serif;
    font-size: 17px;
    font-weight: 100;
    text-align: center;
}

footer{
    color: white;
    max-width: 60vw;
    margin: auto;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 45px;
}

.questions{
    padding: 14px 0;
    color:rgb(193, 182, 182);
}

.footer a{
    font-size: 15px;
    color:rgb(193, 182, 182);
}

.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}

@media screen and (max-width: 1300px ){
    .first{
        flex-wrap: wrap;
    }
    
    .first > div :nth-child(1){
        font-weight: 400;
        font-size: 32px;
    }

    .secimg img{
        width: 70vw;    
    }
    
    .secimg video{
        width: 70vw; 
    }
    
    .secimg1 img{
        /* width: 35vw; */
        width: 355px;
        position: relative;     /*Position and z-index are used to diplay video properly */
    }
    
    .secimg1 video{
        position: absolute;
        top: 51px;
        right: 12vw; 
        height: 30vw;
        /* width: 21vw; */
        width: 255px;
    }

    .box1> :nth-child(1){
        font-size: 32px;
    }

    .box1> :nth-child(2){
        font-size: 18px;
    }

    .box1> :nth-child(3){
        font-size: 18px;
    }

    nav{
        max-width: 90vw;
    }

    .box1-button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 14px;
    }

    .faq h2{
        font-size: 32px;
        font-weight: 300;
    }

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        color: white;
        gap: 50px;
    }

    .faqbox{
        max-width: 70vw;
        font-size: 18px;
    }
    
}